* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --background-color: #0c0c0c;
  --block-color: #0f0f0f;
  --text-color: #fff;
  --highlight-color: #333;
  --accent-color: #f44336;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

nav {
  display: flex;
  width: 100vw;
  border-bottom: 1px solid var(--highlight-color);
}

nav ul {
  display: flex;
  width: 100em;
  justify-content: flex-end;
  list-style: none;
}

nav ul li {
  display: flex;
}

nav div {
  display: inline;
}

nav a {
  padding: 1em 2em;
  transition: background-color 150ms ease;
}

nav a:hover {
  background-color: var(--highlight-color);
}

.nav-accueil {
  margin-right: auto;
}

nav input {
  background-color: var(--block-color);
  color: var(--text-color);
  padding: 1em;
  margin-right: 1em;
  border: 1px solid var(--highlight-color);
  border-radius: 10px;
  width: 20rem;
  align-self: center;
}

.active {
  background-color: var(--accent-color);
}

.active:hover {
  background-color: var(--accent-color);
}